.autoMargin{
    margin-left: 50%;
    margin-right: 50%;
}

.imgProduct{
    max-width: 106px;
    max-height: 106px;
}

@media (max-width: 648px){
    .autoMargin{
        margin-left: auto;
        margin-right: auto;
    }
}
.mt-7 p{
    margin-top: 3rem!important;
}
.realizarBtn:before{
    color: #fff!important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #fd960d!important;
    border-color: #000000!important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #fd960d!important;
    border-color: #000!important;
}

.page-link:hover {
    z-index: 2;
    color: #000!important;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-item a {
    z-index: 2;
    color: #000!important;
    border-color: #dee2e6;
}
.span_product:before{
    color: white;
}

