

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.header {
    margin-bottom: 50px;
}

.header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.single-product {
    margin-bottom: 26px;
}

.part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.single-product img {
    align-items: center;
    width: 70%;
    height: auto;
    cursor: pointer;
}

.discount, .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.new {
    left: 0;
    background-color: #444444;
}

.carousel-inner > img {
    z-index: 0;
}

.single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}
.icons {
    margin-left: -2rem!important;
    max-width: 7rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.icons_bg {
    background-color: #000000;
    color: #fff;
    padding: .7rem 1rem;
    margin-right: 1rem;
}


.product-title {
    font-size: 1rem;
}

.part-2 h2 {
    display: inline-block;
    font-size: 1rem;
}

.product-info {
    display: inline-block;
    font-size: 1rem;
    color: #fe302f;
}

.product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}


.heroBackGround {
    background: #fe822f no-repeat center;
    background-size: cover;
    transition: all 0.3s;
    box-shadow: inset 0 0 8rem rgb(0, 0, 0);
    border-radius: 2rem;
}

.mt-5 {
    margin-top: 6rem !important;
}

@media (max-width: 780px){
    .part-1 {
        height: 100%;
        max-height: 100%;
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .6rem;
}
