* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: #4b4b4b;
}

.bordes {
    display: flex;
    height: 5rem;
    margin: 0 11vh;
    align-items: center;
    justify-content: space-between;
}

.ordenar1 {
    display: flex;
    align-items: center;
    height: 100%;
}

.ordenar2 {
    display: flex;
    align-items: center;
    height: 100%;
}

.logoPagina {
    width: 140px;
    margin-right: 6rem;
}

.estilos {
    display: flex;
    margin-right: 2rem;
}

.estilos li {
    list-style: none;
    padding: 11px 17px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.estilos li:hover {
    border-radius: 4px;
    background: #f2f2f2;
}

.estilos li img {
    margin-right: .5rem;
}


.ordenar1 form input {
    width: 43rem;
    height: 3rem;
    border-radius: .3rem;
}

.ordenar1 form {
    display: flex;
    align-items: center;
    position: relative;
}

.ordenar1 form img {
    position: absolute;
    left: 94%;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1440px) {
    .estilos li {
        max-width: 25px;
    }
    .bordes {
        margin: 0 9rem;
    }
}

@media (max-width: 1024px) {
    .bordes {
        margin: 0 5rem;
    }
    .estilos li {
        min-width: 0px;
    }
    .estilos li p {
        visibility: hidden;
    }
    .ordenar1 form input {
        width: 53vh;
        height: 2.5rem;
        border-radius: 0.3rem;
    }
    .ordenar1 form img {
        left: 87%;
    }
    .logoPagina {
        margin-right: 3rem;
    }
}

@media (max-width: 1024px) {
    .bordes {
        margin: 0 5rem;
    }
    .estilos li {
        min-width: 0px;
    }
    .estilos li p {
        visibility: hidden;
    }
    .ordenar1 form input {
        width: 33vh;
        height: 2.5rem;
        border-radius: 0.3rem;
    }
    .ordenar1 form img {
        left: 87%;
    }
    .logoPagina {
        margin-right: 2rem;
    }
}
