/* Nav */
.logoPagina {
    width: 140px;
    margin-right: 6rem;
}

.buscadorNav {
    width: 35rem;
    height: 3rem;
    border-radius: 1.5REM;
}

@media (max-width: 1200px) {
    .buscadorNav {
        width: auto;
        height: 3rem;
        border-radius: 1.5rem;
    }

}

/* Footer  */
a {
    text-decoration: none;
    color: #4b4b4b;
}

a:visited {
    color: #4b4b4b;
}

.bordes {
    margin: 2rem 1rem 1rem 1rem;
}

.bordes__ordenar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bordes__ordenar li {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bordes__ordenar li:hover {
    background: #f2f2f2;
    color: #333;
}

.bordes__ordenar li a {
    padding: 1rem;
}

li img {
    margin: 0 1rem 0 1rem;
}

.izquierda {
    padding-left: 0;
}

.margenFooter {
    margin: 0 2rem 0 2rem;
}

.margenFooter span {
    padding: 0 0 0 1rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.end {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: .5rem;
    font-size: .8rem;
}

footer {
    border-top: 1px solid #ccc;
}

/* Medias Queries */
@media (max-width: 768px) {
    .bordes__ordenar {
        flex-wrap: wrap;
    }
}
