.mTB{
    margin-top: 13rem;
    margin-bottom: 3rem;
}

.prueba{
    display: flex;
    flex-direction: column;
    max-width: 120px;
}
@media (max-width: 1200px){
    .mTB{
        margin-top: 10rem;
    }
}
